* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: pink;
}

nav {
  background: palevioletred;
  height: 80px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  color: white;
  font-size: 35px;
  font-weight: bold;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  position: relative;
  color: white;
  font-size: 17px;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 7px 13px;
}

nav ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: lavender;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

li a:hover {
  background-color: hotpink;
}

.icon {
  display: flex;
  align-items: center;
}

.icon a {
  color: white;
  text-decoration: none;
}

.icon i {
  color: white;
}

.btn,
.btn_order {
  background-color: palevioletred;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  display: block;
  margin: 20px auto;
  width: fit-content;
}
.btn:hover,
.btn_order:hover {
  background-color: deeppink;
}

.cart-count {
  position: absolute;
  top: 10px;
  right: 10px;
  background: deeppink;
  color: white;
  border-radius: 30px;
  padding: 2px 6px;
  font-size: 15px;
}
h1 {
  text-align: center;
  margin: 30px;
  color: black;
}
table {
  width: 90%;
  margin: 20px auto;
  background: white;
  border-radius: 19px;
  border-collapse: collapse;
}

table th,
table td {
  padding: 17px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

table th {
  background-color: palevioletred;
  color: white;
  font-size: 18px;
}

table td {
  background-color: white;
  font-size: 16px;
}

table img {
  max-width: 100px;
  border-radius: 4px;
}

@media (max-width: 450px) {
  table {
    width: 100%;
  }

  table,
  table tbody,
  table tr,
  table td {
    display: block;
    width: 100%;
  }

  table tr {
    margin-bottom: 19px;
  }

  table td {
    text-align: right;
    position: relative;
  }
}
.btn_order a {
  display: block;
  margin: 20px auto;
  text-align: center;
}
